rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    match /users/{uid}/sessions/{sessionId}/{fileName} {
      allow read: if request.auth != null
                  && request.auth.uid == uid;

      allow create, update: if request.auth != null
                            && request.auth.uid == uid
                            && (fileName == "best.jpg" || fileName == "worst.jpg")
                            && request.resource.size <= 1024 * 1024
                            && request.resource.contentType == "image/jpeg";

      allow delete: if request.auth != null
                    && request.auth.uid == uid
                    && (fileName == "best.jpg" || fileName == "worst.jpg");
    }
  }
}
